
img {
    opacity: 0.6;
}4

h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    text-decoration: underline;

}

.form {
    position: fixed;
    color: white;
    top: 30%;
    left: 47%;
    transform: translate(-50%, -50%);


}

input {
    border: solid black;

}
